<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./bootstrap-4.4.1-dist/css/login.css">
    <link rel="stylesheet" href="./dist/css/bootstrap.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   
    <title>ลงชื่อเข้าสู่ระบบ</title>
   <!--<link rel="icon" href="/image/Profile_page-01.ico" />--> 
</head>
<body >
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
              <div class="alert alert-danger">
                  <%= message %>
              </div>
              <% } %>
          <!-- Icon -->
          <div class="fadeIn first">
            <!--<img style="margin-top: 50px;" src="./image/logo.png" id="icon" alt="User Icon" /> -->
            <P style="margin-top: 50px;font-size: large;">ลงชื่อเข้าสู่ระบบ</P>
          </div>
      
          <!-- Login Form -->
          <form action="/login" method="post" style="margin-top: 50px;">
            <input type="text" id="login" class="fadeIn second" name="email" placeholder="login">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In" style="background-color: rgb(252, 121, 191);border-color: rgb(252, 121, 191) ;margin-top: 50px;" >
            
            <a class="underlineHover" style="color: #df64a8;margin-top: 20px;" href="/signup">Register</a>
          </form>
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="/signup">Forgot Password?</a>
          </div>
      
        </div>
      </div>
</body>
</html>