<html>

<head>
    <title>กรอกข้อมูล 4</title>
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="./bootstrap-4.4.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <link href="https://fonts.googleapis.com/css?family=Kanit&display=swap" rel="stylesheet"> 

<style>
      ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #f9f9f9;
  font-size: 12px;
  transition: 0.2s;
  width: 700px;
  margin-left: 150px;
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  word-spacing: 5px;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
.close { position: absolute;right: 0;top: 0;padding: 12px 16px 12px 16px;}
.close_2{ position: absolute;right: 0;top: 0;padding: 12px 16px 12px 16px;}
.close_3{ position: absolute;right: 0;top: 0;padding: 12px 16px 12px 16px;}
.close_4{ position: absolute;right: 0;top: 0;padding: 12px 16px 12px 16px;}
.close_5{ position: absolute;right: 0;top: 0;padding: 12px 16px 12px 16px;}
.close_6{ position: absolute;right: 0;top: 0;padding: 12px 16px 12px 16px;}
.close_7{ position: absolute;right: 0;top: 0;padding: 12px 16px 12px 16px;}

.close:hover {background-color: #f44336;color: white}
.close_2:hover{background-color: #f44336;color: white}
.close_3:hover{background-color: #f44336;color: white}
.close_4:hover{background-color: #f44336;color: white}
.close_5:hover{background-color: #f44336;color: white}
.close_6:hover{background-color: #f44336;color: white}
.close_7:hover{background-color: #f44336;color: white}

    </style>
</head>

<body style="font-family: 'Kanit', sans-serif;">
<form action="/SFM005" method="POST"> 
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            MENU
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/profile">หน้าแรก</a>
          </div>
        </li>
      
      </ul>
   
       
    </div>
  </nav>


  <center><img src="image/title-01.jpg" width="1000" height="150"></center>
  <div class="container" style="width: 1000px;margin-top: 50px;border:1px solid rgb(167, 167, 167);border-radius: 3px;  ">
  <p class="text-left" style="font-size: 24px;margin-top: 50px;"><i class="fa fa-bars"> เสนอโครงการ (4/4) </i></p>
  <hr style="border: 1px solid rgb(77, 73, 73);" >
  <div class="container">  
    


  <input type="hidden" name="project_ID" value="<%= project_ID %>">
    <div  class="form-inline" style="margin-top: 30px;" >
        <label style="font-size: 18px;background-color: #296DE2;width: 30px;color: #ffff;" > 10 </label>
        <label style="font-size: 18px; margin-left: 10px;">ทรัพยากรโครงการ / กิจกรรม</label>
    </div>


    <div>
      <div  class="form-inline" style="margin-top: 50px;margin-left: 50px;" >
          <label style="font-size: 18px;background-color: #296DE2;width: 30px;color: #ffff;" > 10.1 </label>
          <label style="font-size: 18px; margin-left: 10px;">งบบุคลากร(ค่าจ้างชั่วคราว)</label>
      </div>
      <div style="margin-top: 3px;">
          <div class="form-row align-items-center">
              <div class="col-sm-2 my-1">
                
              </div>
              <div class="col-sm-4 my-1">
                <label class="sr-only" for="person_budget_name">รายการ</label>
                <input type="text" class="form-control" id="person_budget_name" placeholder="รายการ">
              </div>

    
              <div class="col-sm-2" style="margin-top: 15px;">
                  <div class="input-group mb-3">
                      <input type="number" class="form-control"  id="person_budget_value"  placeholder="จำนวนเงิน" aria-label="จำนวนเงิน" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">บาท</span>
                      </div>
                    </div>
              </div>   

              <div class="col-sm-1 my-1">
                <label class="sr-only" for="person_budget_qt">จำนวน</label>
                <input type="text" class="form-control" id="person_budget_qt" placeholder="จำนวน">
              </div>
              
              <div class="col-sm-1 my-1">
                <label class="sr-only" for="person_budget_unit">หน่วย</label>
                <input type="text" class="form-control" id="person_budget_unit" placeholder="หน่วย">
              </div>

              <div class="col my-1">
              <select class="form-control" id="person_time">
                <option value="ช่วงที่ 1">ช่วงที่ 1</option>
                <option value="ช่วงที่ 2">ช่วงที่ 2</option>
              </select>
            </div>
              
              <div class="col-auto my-1">
                <button type="button"  class="btn btn-success" onclick="add_person_budget()" >เพิ่ม</button>
              </div>
          </div>

          <input hidden type="text" id="Person_List_data" value="{}" name="Person_List_data">
          <ul id="Person_List" for="test"     > </ul>
          
      </div>
  </div>



    <div>
        <div  class="form-inline" style="margin-top: 10px;margin-left: 50px;" >
            <label style="font-size: 18px;background-color: #296DE2;width: 30px;color: #ffff;" > 10.2 </label>
            <label style="font-size: 18px; margin-left: 10px;">งบดำเนินงาน</label>
        </div>
        <div style="margin-top: 5px;margin-left: 50px;">
         
             <div class="form-row align-items-center">
                <div class="col my-1">
                    ค่าตอบแทน
                </div>
                <div class="col-sm-4 my-1">
                  <label class="sr-only" for="Compensation_name">รายการ</label>
                  <input type="text" class="form-control" id="Compensation_name" placeholder="รายการ">
                </div>                

                <div class="col-sm-2" style="margin-top: 15px;">
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" id="Compensation_value" placeholder="จำนวนเงิน" aria-label="จำนวนเงิน" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <span class="input-group-text" id="basic-addon2">บาท</span>
                        </div>
                      </div>
                </div>      
                
                <div class="col-sm-1 my-1">
                  <label class="sr-only" for="Compensation_name_qt">จำนวน</label>
                  <input type="text" class="form-control" id="Compensation_name_qt" placeholder="จำนวน">
                </div>
                
                <div class="col-sm-1 my-1">
                  <label class="sr-only" for="Compensation_name_unit">หน่วย</label>
                  <input type="text" class="form-control" id="Compensation_name_unit" placeholder="หน่วย">
                </div>

                <div class=" my-1">
                  <select class="form-control" id="Compensation_time">
                    <option value="ช่วงที่ 1">ช่วงที่ 1</option>
                    <option value="ช่วงที่ 2">ช่วงที่ 2</option>
                  </select>
                </div>
  
                <div class="col-auto my-1">
                  <button type="button"  class="btn btn-success" onclick="add_Compensation_budget()" >เพิ่ม</button>
                
                </div>              
              </div>
              
              <input hidden type="text" id="Compensation_List_data" value="{}" name="Compensation_List_data">
              <ul id="Compensation_List"   > </ul>
          
              


              <div class="form-row align-items-center">
                <div class="col my-1">
                    ค่าใช้สอย
                </div>
                <div class="col-sm-4 my-1">
                  <label class="sr-only" for="Genaral_cost_budget_name">รายการ</label>
                  <input type="text" class="form-control" id="Genaral_cost_budget_name" name="Genaral_cost_budget_name" placeholder="รายการ">
                </div>

                <div class="col-sm-2" style="margin-top: 15px;">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="Genaral_cost_budget_value"  name="Genaral_cost_budget_value" placeholder="จำนวนเงิน" aria-label="จำนวนเงิน" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <span class="input-group-text" id="basic-addon2">บาท</span>
                        </div>
                      </div>
                </div>           

                <div class="col-sm-1 my-1">
                  <label class="sr-only" for="Genaral_cost_name_qt">จำนวน</label>
                  <input type="text" class="form-control" id="Genaral_cost_name_qt" placeholder="จำนวน">
                </div>
                
                <div class="col-sm-1 my-1">
                  <label class="sr-only" for="Genaral_cost_name_unit">หน่วย</label>
                  <input type="text" class="form-control" id="Genaral_cost_name_unit" placeholder="หน่วย">
                </div>

                <div class="my-1">
                  <select class="form-control" id="Genaral_cost_time">
                    <option value="ช่วงที่ 1">ช่วงที่ 1</option>
                    <option value="ช่วงที่ 2">ช่วงที่ 2</option>
                  </select>
                </div>
  

                <div class="col-auto my-1">
                  <button type="button" class="btn btn-success" onclick="add_Genaral_cost_budget()">เพิ่ม</button>
                </div>
              </div>

              <input hidden type="text" id="Genaral_cost_List_data" value="{}" name="Genaral_cost_List_data">
              <ul id="Genaral_cost_List"   > </ul>




              <div class="form-row align-items-center">
                <div class="col my-1">
                    ค่าวัสดุ
                </div>
                <div class="col-sm-4 my-1">
                  <label class="sr-only" for="Material_cost_budget_name">รายการ</label>
                  <input type="text" class="form-control" id="Material_cost_budget_name" name="Material_cost_budget_name" placeholder="รายการ">
                </div>

                <div class="col-sm-2" style="margin-top: 15px;">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="Material_cost_budget_value" name="Material_cost_budget_value" placeholder="จำนวนเงิน" aria-label="จำนวนเงิน" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <span class="input-group-text" id="basic-addon2">บาท</span>
                        </div>
                      </div>
                </div>              

                <div class="col-sm-1 my-1">
                  <label class="sr-only" for="Material_cost_name_qt">จำนวน</label>
                  <input type="text" class="form-control" id="Material_cost_name_qt" placeholder="จำนวน">
                </div>
                
                <div class="col-sm-1 my-1">
                  <label class="sr-only" for="Material_cost_name_unit">หน่วย</label>
                  <input type="text" class="form-control" id="Material_cost_name_unit" placeholder="หน่วย">
                </div>

                <div class=" my-1">
                  <select class="form-control" id="Material_cost_time">
                    <option value="ช่วงที่ 1">ช่วงที่ 1</option>
                    <option value="ช่วงที่ 2">ช่วงที่ 2</option>
                  </select>
                </div>

                <div class="col-auto my-1">
                  <button type="button" class="btn btn-success"  onclick="add_Material_cost_budget()">เพิ่ม</button>
                </div>
              </div>

              <input hidden type="text" id="Material_cost_List_data" value="{}" name="Material_cost_List_data">
              <ul id="Material_cost_List"   > </ul>


              <div class="form-row align-items-center">
                <div class="col my-1">
                    ค่าสาธารณู
                </div>
                <div class="col-sm-4 my-1">
                  <label class="sr-only" for="Public_cost_name">รายการ</label>
                  <input type="text" class="form-control" id="Public_cost_name" name="Public_cost_name" placeholder="รายการ">
                </div>

                <div class="col-sm-2" style="margin-top: 15px;">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="Public_cost_value" name="Public_cost_value" placeholder="จำนวนเงิน" aria-label="จำนวนเงิน" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <span class="input-group-text" id="basic-addon2">บาท</span>
                        </div>
                      </div>
                </div>          
                
                <div class="col-sm-1 my-1">
                  <label class="sr-only" for="Public_cost_name_qt">จำนวน</label>
                  <input type="text" class="form-control" id="Public_cost_name_qt" placeholder="จำนวน">
                </div>
                
                <div class="col-sm-1 my-1">
                  <label class="sr-only" for="Public_cost_name_unit">หน่วย</label>
                  <input type="text" class="form-control" id="Public_cost_name_unit" placeholder="หน่วย">
                </div>

                <div class=" my-1">
                  <select class="form-control" id="Public_cost_time">
                    <option value="ช่วงที่ 1">ช่วงที่ 1</option>
                    <option value="ช่วงที่ 2">ช่วงที่ 2</option>
                  </select>
                </div>


                <div class="col-auto my-1">
                  <button type="button" class="btn btn-success" onclick="add_Public_cost_budget()" >เพิ่ม</button>
                </div>
              </div>

              <input hidden type="text" id="Public_cost_List_data" value="{}" name="Public_cost_List_data">
              <ul id="Public_cost_List"   > </ul>

      
          

            
          
            
        </div>
    </div>
    <div>
        <div  class="form-inline" style="margin-top: 50px;margin-left: 50px;" >
            <label style="font-size: 18px;background-color: #296DE2;width: 30px;color: #ffff;" > 10.3 </label>
            <label style="font-size: 18px; margin-left: 10px;">งบลงทุน</label>
        </div>
        <div style="margin-top: 5px;margin-left: 50px;">
            <div class="form-row align-items-center">
                <div class="col my-1">
                  ครุภัณฑ์
                </div>
                <div class="col-sm-4 my-1">
                  <label class="sr-only" for="durable_articles_name">รายการ</label>
                  <input type="text" class="form-control" id="durable_articles_name" name="durable_articles_name" placeholder="รายการ">
                </div>

                <div class="col-sm-2" style="margin-top: 15px;">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control"  id="durable_articles_value" name="durable_articles_value" placeholder="จำนวนเงิน" aria-label="จำนวนเงิน" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <span class="input-group-text" id="basic-addon2">บาท</span>
                        </div>
                      </div>
                </div>            
                
                <div class="col-sm-1 my-1">
                  <label class="sr-only" for="durable_articles_name_qt">จำนวน</label>
                  <input type="text" class="form-control" id="durable_articles_name_qt" placeholder="จำนวน">
                </div>
                
                <div class="col-sm-1 my-1">
                  <label class="sr-only" for="durable_articles_name_unit">หน่วย</label>
                  <input type="text" class="form-control" id="durable_articles_name_unit" placeholder="หน่วย">
                </div> 

                <div class=" my-1">
                  <select class="form-control" id="durable_articles_time">
                    <option value="ช่วงที่ 1">ช่วงที่ 1</option>
                    <option value="ช่วงที่ 2">ช่วงที่ 2</option>
                  </select>
                </div>
           
                <div class="col-auto my-1">
                  <button type="button" class="btn btn-success" onclick="add_durable_articles_budget()">เพิ่ม</button>
                </div>
            </div>

            <input hidden type="text" id="durable_articles_List_data" value="{}" name="durable_articles_List_data">
              <ul id="durable_articles_List"   > </ul>

                <div class="form-row align-items-center">
                  <div class="col my-1">
                    สิ่งก่อสร้าง
                  </div>
                  <div class="col-sm-4 my-1">
                    <label class="sr-only" for="Building_name">รายการ</label>
                    <input type="text" class="form-control" id="Building_name"  name="Building_name" placeholder="รายการ">
                  </div>
  
                  <div class="col-sm-2" style="margin-top: 15px;">
                      <div class="input-group mb-3">
                          <input type="text" class="form-control" id="Building_value" name="Building_value" placeholder="จำนวนเงิน" aria-label="จำนวนเงิน" aria-describedby="basic-addon2">
                          <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">บาท</span>
                          </div>
                        </div>
                  </div>         
                  
                  <div class="col-sm-1 my-1">
                    <label class="sr-only" for="Building_name_qt">จำนวน</label>
                    <input type="text" class="form-control" id="Building_name_qt" placeholder="จำนวน">
                  </div>
                  
                  <div class="col-sm-1 my-1">
                    <label class="sr-only" for="Building_name_unit">หน่วย</label>
                    <input type="text" class="form-control" id="Building_name_unit" placeholder="หน่วย">
                  </div> 

                  <div class=" my-1">
                    <select class="form-control" id="Building_time">
                      <option value="ช่วงที่ 1">ช่วงที่ 1</option>
                      <option value="ช่วงที่ 2">ช่วงที่ 2</option>
                    </select>
                  </div>
                  
                  <div class="col-auto my-1">
                    <button type="button" class="btn btn-success" onclick="add_Building_budget()">เพิ่ม</button>
                  </div>

                  <input hidden type="text" id="Building_List_data" value="{}" name="Building_List_data">
                 <ul id="Building_List"  style="word-spacing: 30px;"> </ul>
                
              </div>

                
        </div>
    </div>
    




    <div  class="form-inline" style="margin-top: 100px;margin-left: 500px;margin-bottom: 50px;" >
        <label style="font-size: 30px;">รวมทั้งสิ้น</label>
        <input disabled style="width: 200px;margin-left: 10px;font-size: 25px;" id="total_budget" name="total_budget" type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
        <label style="font-size: 30px;margin-left: 10px;">บาท</label>
    </div> 








</div>

</div>




<div style="margin-top: 20px;"><center>
  <button type="submit" value="submited_33x" class="btn btn-success"  >บันทึก</button>
    <button type="button" class="btn btn-danger">ยกเลิก</button>
   </div></center>
  </form>


   <div style="margin-top :50px"></div>
   

   <script>
     

    
    </script>
   
   
   

<script src="./script/Cal_budget.js"></script>
<script src="./script/read_file.js"></script>
<script src="./bootstrap-4.4.1-dist/js/signature_pad.js"></script>
<script src="./bootstrap-4.4.1-dist/js/app_signature.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
</body>

</html>