<!doctype html>
<html>

<head>
    <title>ลงทะเบียน</title>
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- load fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>

<body>
    <div class="container">

        <div class="col-sm-6 col-sm-offset-3">

            <h1><span class="fa fa-sign-in"></span> ลงทะเบียน</h1>

            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
                <div class="alert alert-danger">
                    <%= message %>
                </div>
                <% } %>

                    <!-- LOGIN FORM -->
                    <form action="/signup" method="post">
                        <div class="form-group">
                            <label>ชื่อ - สกุล</label>
                            <input type="text" class="form-control" name="name">
                            <label>Email</label>
                            <input type="text" class="form-control" name="email">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password">
                        </div>

                        <div class="form-group">
                            <label>SCC</label>
                            <input type="text" class="form-control" name="Code" value=" *ไม่ต้องกรอก">
                        </div>

                        <button type="submit" class="btn btn-warning btn-lg" style="background-color: rgb(252, 121, 191);border-color: rgb(252, 121, 191) ;">ลงทะเบียน</button>
                    </form>

                    <hr>

                    <p>Already have an account? <a href="/login">Login</a></p>
                    <p>Or go <a href="/">home</a>.</p>

        </div>

    </div>
</body>

</html>